/* classes that are added/removed via js */
.hide {
  display: none;
}

.blueShadow {
  box-shadow: 0 0 8px cyan;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  justify-content: flex-end;
  cursor: pointer;
}




/* default css */
:root {
  --main-text-color: cyan;
  --main-font-family: "Courier New", Courier, monospace;
  --heading-text-transform: uppercase;
}

body {
  position: relative;
  border: 5px inset cyan;
}

main {
  position: relative;
  background-image: url("https://uploads.onecompiler.io/44c4rfedh/44fyetgby/Gemini_Generated_Image_1pu0sj1pu0sj1pu0.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--main-font-family);
}

#head {
  position: relative;
  background-image: url("https://uploads.onecompiler.io/44c4rfedh/44fyetgby/gg.png");
  background-repeat: no-repeat;
  background-size: 600px 300px;
  background-position: center top;
  width: 100%;
  height: 300px;
}

.divider {
  position: relative;
  width: 100%;
  height: 40px;
  object-fit: cover;
  object-position: center;
  display: block;
  margin: 10px 0;
}

h1 {
  position: relative;
  display: inline;
  color: var(--main-text-color);
  text-align: left;
  text-shadow: 0 0 12px cyan;
  font-weight: bold;
  text-transform: var(--heading-text-transform);
  border: 5px ridge rgb(124, 217, 189);
  border-left: 5px solid transparent;
  padding: 7px;
  box-shadow: 0 0 8px cyan;
  background-color: #ca5dfc;
}

p {
  font-family: var(--main-font-family);
  margin: 10px;
  padding: 10px;
}

h3 {
  position: relative;
  display: inline-block;
  color: cyan;
  text-transform: var(--heading-text-transform);
  text-shadow: 0 0 12px cyan;
  margin: 0;
  padding: 5px 10px;
  border: 5px ridge rgb(124, 217, 189);
  box-shadow: 0 0 6px cyan;
  background-color: #ca5dfc;
  line-height: 1;
}

section > nav > ul.my-navbar {
  position: sticky;
  top: 0;
  display: flex;
  gap: 10px;
  list-style: none;
  flex-grow: 1;
  flex-shrink: 1;
  z-index: 100;
}

ul.my-navbar > li > a {
  position: relative;
  text-decoration: none;
  color: pink;
  text-shadow: 0 0 15px pink;
  text-transform: var(--heading-text-transform);
  padding: 8px 12px;
}

ul.my-navbar > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: cyan;
  box-shadow: 0 0 10px cyan;
  transition: 0.3s;
}

ul.my-navbar > li > a:hover::after {
  width: 100%;
}

ul.my-navbar {
  position: relative;
  border-bottom: 7px ridge cyan;
  z-index: 50;
}

a:hover {
  color: yellow;
  text-decoration: underline;
  text-shadow: 0 0 6px yellow;
}

li {
  position: relative;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-indent: 10px;
}

ul > li {
  color: gold;
  text-shadow: 0 0 12px gold;
}

section {
  position: relative;
  color: var(--main-text-color);
}

a {
  position: relative;
  color: pink;
}

section > em {
  position: relative;
  font-style: italic;
  color: hsl(252, 62%, 79%);
  margin: 10px;
  padding: 15px;
  font-size: 18px;
  text-shadow: 0 0 12px hsl(252, 62%, 79%);
}

strong.phoneNum > u {
  position: relative;
  color: pink;
}

strong.phoneNum:hover {
  color: yellow;
  cursor: pointer;
}

footer {
  position: relative;
  color: gold;
  text-align: center;
  font-size: 18px;
  background-image: url("https://uploads.onecompiler.io/44c4rfedh/44fyetgby/Gemini_Generated_Image_y7hkgwy7hkgwy7hk.png");
  background-size: cover;
  border-top: 6px ridge cyan;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"] {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  padding: 10px;
  margin-left: 25px;
  border: 5px inset cyan;
  border-radius: 4px;
  box-shadow: 0 0 6px yellow;
}

input[type="date"] {
  margin-left: 82px;
}

label {
  position: relative;
  color: gold;
  margin-left: 25px;
  text-shadow: 0 0 12px gold;
  font-size: 18px;
}

textarea {
  position: relative;
  display: block;
  margin: 0 auto;
}

input[type="submit"], #addStat {
  position: relative;
  margin: 20px;
  width: 200px;
  height: 50px;
  background-color: blue;
  color: white;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 12px blue;
}

input[type="submit"]:hover, #addStat:hover {
  background-color: rgb(76, 59, 140);
  box-shadow: 0 0 12px rgb(76, 59, 140);
}

input:invalid {
  border: 2px solid red;
}

table, th, td {
  border: 1px solid #FF46A2;
}

table {
  background-color: #FF46A2;
}

a[id^="tab"]:hover {
  color: darkblue;
  text-shadow: 0px 0px 6px lemonchiffon;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: lemonchiffon;
}

tr:nth-child(odd) {
  background-color: #FF7F50;
}

td {
  padding: 1vw;
}

.float-left {
  float: left;
}

#image-grid {
  display: grid;
  grid-template-columns: auto auto;
}

#image-grid > div {
  justify-content: center;
  padding: 10px;
}

#image-grid > div > p {
  color: gold;
  text-shadow: 0 0 12px gold;
}

/* breakpoints for phones */

/* for phones with screens <=319px wide in portrait mode*/
@media all and (max-width: 319px) and (orientation: portrait) {
  body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    border: 0px;
  }

  /*makes all sections on top of each other*/
  main,
  aside,
  nav,
  footer {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    width: 100%;
  }

  /* nav and li css */
  body > nav > ul.my-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 3px;
    
  }

  ul.my-navbar > li > a {
  position: relative;
  text-decoration: none;
  color: pink;
  text-shadow: 0 0 15px pink;
  text-transform: var(--heading-text-transform);
  padding: 8px 5px;
  }

  li {
  position: relative;
  font-size: 9px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-indent: 0px;
  }

  body > nav {
    background-image: url("https://uploads.onecompiler.io/44c4rfedh/44fyetgby/Gemini_Generated_Image_1pu0sj1pu0sj1pu0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    #head {
  position: relative;
  background-image: url("https://uploads.onecompiler.io/44c4rfedh/44fyetgby/gg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;
  width: 100%;
  height: 100px;
}

    /* wanna fix the body being too big -> make all emements not have a fixed width?
    then make LIVENTURE pic smaller or responsive
    then fix the heading sizes (make them way smaller XD)*/
    /* also wanna fix how the h1 overlaps with itself at 220px width */
  h1 {
    position: relative;
    display: inline;
    color: var(--main-text-color);
    text-align: left;
    text-shadow: 0 0 12px cyan;
    font-weight: bold;
    text-transform: var(--heading-text-transform);
    border: 5px ridge rgb(124, 217, 189);
    padding: 5px;
    box-shadow: 0 0 8px cyan;
    background-color: #ca5dfc;
    font-size: 12px;
}
  section > em {
    font-size: 10px;
  }

  h3 {
    font-size: 11px;
 
  }

  section > p {
    font-size: 10px;
  }

  a > button > strong {
    font-size: 10px;
  }

  a > button {
    padding-inline: 5px;
  }

  #navigation-module {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  footer {
    font-size: 10px;
  }

  tr > td > picture > img {
    width: auto;
    height: auto;
    max-width: 100%; 
  }

  section > center > table {
    font-size: 8px;
    width: 100%;
    table-layout: fixed;
  }

  section > center > table > tbody > tr > td > ul {
    padding-inline-start: 7px;
  }

  aside {
    background-image: url("https://uploads.onecompiler.io/44c4rfedh/44fyetgby/Gemini_Generated_Image_1pu0sj1pu0sj1pu0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  th, td {
    width: 25%;
    word-wrap: break-word;
  }

  table, th, td {
  border: 0px;
  }

  /* form elements */
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="tel"],
  input[type="password"] {
    position: relative;
    box-sizing: border-box;
    width: 150px;
    padding: 10px;
    margin-left: 25px;
    border: 5px inset cyan;
    border-radius: 4px;
    box-shadow: 0 0 6px yellow;
  }
  
  textarea {
    width: 80%;
    margin: 25px;
  }

  /* submit button & some other button's css */
  input[type="submit"], #addStat {
    position: relative;
    margin: 25px;
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 12px blue;
}

/* giving input areas margins so they're aligned with the labels */
#sleep, #meals, #exercise {
  margin-left: 25px;
}

@media all and (max-width: 311px) {
  #water {
    margin-left: 25px;
  }
}

section > form > div > input {
  margin-left: 25px;
}

#money-page-info {
  display: flex;
  flex-direction: row;
}

#money-page-info > img {
  height: 25vh;
  width: 20vh;
}

 table {
    font-size: 8px;
    width: 100%;
    table-layout: fixed;
  }

  table > tbody > tr > td > ul {
    padding-inline-start: 7px;
  }

  p {
    font-size: 8px;
  }
  
  cite {
    font-size: 7px;
  }

  #image-grid > div > img {
    height: 40vw;
    width: 40vw;
  }

  h2 {
    position: relative;
    display: inline-block;
    color: cyan;
    text-transform: var(--heading-text-transform);
    text-shadow: 0 0 12px cyan;
    margin: 0;
    padding: 5px 10px;
    border: 5px ridge rgb(124, 217, 189);
    box-shadow: 0 0 6px cyan;
    background-color: #ca5dfc;
    line-height: 1;
    font-size: 15px;
  }
}

/* for phones with screens >319px wide in portrait mode*/
@media all and (min-width: 320px) and (orientation: portrait) {
  body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    border: 0px;
  }

  /*makes all sections on top of each other*/
  main,
  aside,
  nav,
  footer {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    width: 100%;
  }

  /* nav and li css */
  body > nav > ul.my-navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 1vh;
    
  }

  ul.my-navbar > li > a {
  position: relative;
  text-decoration: none;
  color: pink;
  text-shadow: 0 0 15px pink;
  text-transform: var(--heading-text-transform);
  padding: 8px 5px;
  }

  li {
  position: relative;
  font-size: 3vw;
  margin-top: 0px;
  margin-bottom: 10px;
  text-indent: 0px;
  }

  body > nav {
    background-image: url("https://uploads.onecompiler.io/44c4rfedh/44fyetgby/Gemini_Generated_Image_1pu0sj1pu0sj1pu0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

    #head {
    position: relative;
    background-image: url("https://uploads.onecompiler.io/44c4rfedh/44fyetgby/gg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    width: 100%;
    height: 20vh;
  }

    /* wanna fix the body being too big -> make all emements not have a fixed width?
    then make LIVENTURE pic smaller or responsive
    then fix the heading sizes (make them way smaller XD)*/
    /* also wanna fix how the h1 overlaps with itself at 220px width */
  h1 {
    position: relative;
    display: inline;
    color: var(--main-text-color);
    text-align: left;
    text-shadow: 0 0 12px cyan;
    font-weight: bold;
    text-transform: var(--heading-text-transform);
    border: 5px ridge rgb(124, 217, 189);
    padding: 5px;
    box-shadow: 0 0 8px cyan;
    background-color: #ca5dfc;
    font-size: 4vw;
}
  section > em {
    font-size: 3vw;
  }

  h3 {
    font-size: 3.5vw;
 
  }

  section > p {
    font-size: 3vw;
  }

  a > button > strong {
    font-size: 3vw;
  }

  a > button {
    padding-inline: 5px;
  }

  #navigation-module {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  footer {
    font-size: 3vw;
  }

  tr > td > picture > img {
    width: auto;
    height: auto;
    max-width: 100%; 
  }

  section > center > table {
    font-size: 3vw;
    width: 100%;
    table-layout: fixed;
  }

  section > center > table > tbody > tr > td > ul {
    padding-inline-start: 7px;
  }

  aside {
    background-image: url("https://uploads.onecompiler.io/44c4rfedh/44fyetgby/Gemini_Generated_Image_1pu0sj1pu0sj1pu0.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  th, td {
    width: 25%;
    word-wrap: break-word;
  }

  table, th, td {
  border: 0px;
  }

  /* form elements */
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="tel"],
  input[type="password"] {
    position: relative;
    box-sizing: border-box;
    width: 150px;
    padding: 10px;
    margin-left: 25px;
    border: 5px inset cyan;
    border-radius: 4px;
    box-shadow: 0 0 6px yellow;
  }
  
  textarea {
    width: 80%;
    margin: 25px;
  }

  /* submit button & other button's css */
  input[type="submit"], #addStat {
    position: relative;
    margin: 25px;
    width: 100px;
    height: 40px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 12px blue;
}

/* giving input areas margins so they're aligned with the labels */
#sleep, #meals, #exercise {
  margin-left: 25px;
}

@media all and (max-width: 311px) {
  #water {
    margin-left: 25px;
  }
}

section > form > div > input {
  margin-left: 25px;
}

#money-page-info {
  display: flex;
  flex-direction: row;
}

#money-page-info > img {
  height: 25vh;
  width: 20vh;
}

 table {
    font-size: 3vw;
    width: 100%;
    table-layout: fixed;
  }

  table tbody > tr > td > cite {
    font-size: 3vw;
  }

  table > tbody > tr > td > ul {
    padding-inline-start: 7px;
  }

  p {
    font-size: 2.5vw;
  }
  
  cite {
    font-size: 2.5vw;
  }

  #image-grid > div > img {
    height: 40vw;
    width: 40vw;
  }

  h2 {
    position: relative;
    display: inline-block;
    color: cyan;
    text-transform: var(--heading-text-transform);
    text-shadow: 0 0 12px cyan;
    margin: 0;
    padding: 5px 10px;
    border: 5px ridge rgb(124, 217, 189);
    box-shadow: 0 0 6px cyan;
    background-color: #ca5dfc;
    line-height: 1;
    font-size: 3.5vw;
  }

}









/* breakpoints for laptops */

@media all and (max-width: 319px){
  body {
    display: flex;
    flex-wrap: wrap;
  }
  main,
  aside,
  nav,
  footer {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
  }
  section > nav > ul.my-navbar {
    flex-direction: row;
  }
}

@media all and (min-width: 320px) and (max-width: 480px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
  main,
  aside,
  nav,
  footer {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
  }
  section > nav > ul.my-navbar {
    flex-direction: row;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
  main,
  aside,
  nav,
  footer {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
  }
  section > nav > ul.my-navbar {
    flex-direction: row;
  }
}

@media all and (min-width: 769px) {
  body {
    display: flex;
    flex-wrap: wrap;
  }
  main {
    flex-basis: 60%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
  }
  aside {
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    background-image: url("https://uploads.onecompiler.io/44c4rfedh/44fyetgby/Gemini_Generated_Image_1pu0sj1pu0sj1pu0.png");
  }
  nav {
    display: flex;
    flex-basis: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    justify-content: center;
  }
  footer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    position: relative;
  }
  section > nav > ul.my-navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }
  ul.my-navbar {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
    background: linear-gradient(235deg, rgba(15,32,39,1) 0%, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 40%, rgba(44,83,100,1) 70%, rgba(0,234,255,1) 100%);
    border: 12px ridge cyan;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
  }
}